<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Travel Entries</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div id="whole">
        <!-- <p class="details">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat,
            fugiat.
          </p> -->
          <marquee behavior="scroll" direction="right" scrollamount="10" scrolldelay="10" loop="infinite" >
            "today adventure your start and now tickets your Book"
        </marquee>
      <div id="welcome">
        <div>
        <img src="/showimg3.avif" alt="no" height="300px" width="400px"/>
        <p style="color: white;">All types of transports available</p></div>
        <div>
        <img src="/showimg4.jpg" alt="no" height="300px" width="400px"/>
        <p style="color: white;">International tour packages</p></div>
        <div>
        <img src="/showimg5.jpeg" alt="no" height="300px" width="400px"/>
        <p style="color: white;">Trekking package solo/group</p></div>
        </div>
       <a id="addnew" href="/add"> <button id="addnewBtn">Add New Travel Entry</button></a>
      <h1 id="heading">All Travel Entries</h1>
      <table id="table">
        <thead id="tableHead">
          <tr id="row-head">
            <th class="row-conponents">Destination</th>
            <th class="row-conponents">Duration (days)</th>
            <th class="row-conponents">Cost ($)</th>
            <th class="row-conponents">Actions</th>
          </tr>
        </thead>
        <tbody id="table-body">
          <% travels.forEach(travel => { %>
          <tr id="destination-row">
            <td class="travelEntries"><%= travel.destination %></td>
            <td class="travelEntries"><%= travel.duration %></td>
            <td class="travelEntries"><%= travel.cost %></td>
            <td class="travelEntries">
              <button id="editButton">
                <a id="edit" href="/details/<%= travel.destination %>"
                  >View/Edit</a
                >
              </button>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>

    </div>
  </body>
</html>
